@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body, *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ffd6ba;

}

/* Header */
header {
    
    
    background-image: url('../img/back.jpg');
    background-position: center;
    height: 400px;
}
img{
    height: 10px;
}


/* Main */
   
#welcome .container {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    /* text-align: center; */

}

#welcome img {
    height: 200px;
    border-radius: 20px;
    width: 65%;
    
    
}
#welcome .liste{

    width: 65%;
    text-align: center;
    background-color: rgb(250, 235, 215);
    border-radius: 20px;
    padding: 25px;
    margin-left: 75px;
    margin-top: -20px;
    opacity: 0.7;
    
}
#welcome .paragraphe{
    width: 470px;
}
@media(max-width: {
    
}